<div mat-dialog-title class="flex justify-between">
    <div></div>
    <button type="button" class="text-xl" (click)="close()">
      X
    </button>
  </div>
  
  <div mat-dialog-content class="flex justify-center">
    <div class="mt-12 mr-2"><span class="text-3xl text-primary bold">Thankyou for choosing us !!</span>
      <br>    
      <div class="flex justify-center mt-2">
        <span class="text-base text-green mb-2 font-semibold">You will receive an email soon</span>
      </div>
    </div>
    <img class="object-contain h-48 w-26" src="../../../../../assets/img/demo/credit_card_PNG137.png" alt="">
  </div>
